.auth{
    flex: 1 0 auto;
    /* border: 1px solid #fff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.input{
    display: flex;
    flex-direction: column;
}
.button{
    display: flex;
    justify-content: end;
}
.button>div{
    font-size: calc(5px + 2vmin);
    border: 1px solid rgb(250, 249, 249);
    margin: 5px 10px;
    cursor: pointer;
    display: inline-block;
  }